@model MonsterTransPredictor.Models.Application.Value.SkillSearchView
@{
    ViewBag.Title = "Skill Search";
}

<div class="row">
    @using(Html.BeginForm("SkillSearch", "Predict", FormMethod.Post, new { @class = "panel panel-info col-md-4" }))
    {
        <div class="panel-heading lead">習得済みの技</div>
        <ul class="list-group sortable">
            @for(int index = 0; index < Model.masteredSkillIdList.Count; index++)
            {
                <li class="list-group-item row">
                    @Html.DropDownListFor(_ => Model.masteredSkillIdList[index], Model.skillNameList, new { @class = "form-control", @style = "display: inline" })
                    <span id="@Model.GetSwapButtonId(index)" class="btn btn-primary @Model.swapClass">入替</span>
                </li>
            }
        </ul>
        <div class="panel-heading lead">新規習得技</div>
        <div class="panel-body">
            @Html.DropDownListFor(Model => Model.addSkillId, Model.skillNameList, new { @class = "form-control" })
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary btn-lg">検索</button>
        </div>
    }
    <div class="panel panel-info col-md-8">
        <div class="panel-heading lead">予測結果</div>
        <table class="table">
            <tr>
                <td nowrap lead>HP条件</td>
                <th nowrap>@Model.addSkillName</th>
            </tr>
            @foreach(var monster in Model.resultMonsterNames)
            {
                <tr>
                    <th nowrap>@monster.hp 以下</th>
                    <td nowrap>@monster.name</td>
                </tr>
            }
        </table>
    </div>
</div>